Session_3/HO/Products.dtd

<?xml version="1.0" encoding="UTF-8"?>
	<!ELEMENT products (product*)>
	<!ELEMENT product (name, description, price, contract?)>
	<!ATTLIST product id ID #REQUIRED>
	<!ELEMENT name (#PCDATA)>
	<!ELEMENT description (#PCDATA)>
	<!ELEMENT price (currency, amount)>
	<!ELEMENT currency (#PCDATA)>
	<!ELEMENT amount (#PCDATA)>
	<!ELEMENT contract (option*)>
	<!ATTLIST contract
		min CDATA #REQUIRED
		max CDATA #REQUIRED
		durationtype (day | week | month | year) "day"
	>
	<!ELEMENT option (#PCDATA)>
