Session_4/employee_full.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.dcs.bbk.ac.uk/~dionisis/ns/employee" xmlns="http://www.dcs.bbk.ac.uk/~dionisis/ns/employee">
    <xs:element name="employee">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="firstname" />
                <xs:element ref="surname" />
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" />
        </xs:complexType>
    </xs:element>
    <xs:element name="firstname" type="xs:string" />
    <xs:element name="surname" type="xs:string" />
</xs:schema>
