Session_4/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.dcs.bbk.ac.uk/ns" elementFormDefault="qualified">
    <element name="employee">
        <complexType>
            <sequence>
                <element name="firstname" type="string"/>
                <element name="surname" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>